.m-1 {
  margin: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 95%;
  margin: auto;
}
footer {
  display: flex;
  justify-content: center;
  .footer-link {
    text-decoration: none;
    font-weight: 500;
    color: red;
  }
}
