<mat-toolbar color="primary"> <span>Progress</span> </mat-toolbar>
<div class="container">
  <mat-card class="m-1 mx-auto" style="max-width : 30rem">
    <img
      src="https://source.unsplash.com/featured/?quotes,nature,space"
      alt="card header"
      mat-card-image
      style="max-height: 17rem"
    />
    <mat-card-title>
      <h4>Today: {{ today }}</h4>
    </mat-card-title>
    <mat-card-content>
      <h5>Year Progress: {{ yearProgress.toFixed() }}%</h5>
      <mat-progress-bar
        color="warn"
        mode="buffer"
        [value]="yearProgress"
      ></mat-progress-bar>
      <h5>Month Progress: {{ monthProgress.toFixed() }}%</h5>
      <mat-progress-bar
        color="warn"
        mode="buffer"
        [value]="monthProgress"
      ></mat-progress-bar>
      <h5>Day Progress: {{ dayProgress.toFixed() }}%</h5>
      <mat-progress-bar
        color="warn"
        mode="buffer"
        [value]="dayProgress"
      ></mat-progress-bar>
      <h5>Your Life! 😜</h5>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <footer>
    <h5>
      <a
        class="footer-link"
        target="blank"
        href="https://github.com/vivek1996"
        rel="noopener"
      >
        By Vivek 😊</a
      >
    </h5>
  </footer>
</div>
